@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* * Buttons */
	.buttonPrimary {
		@apply bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700 text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-indigo-300 dark:focus:ring-indigo-800;
	}

	.buttonSecondary {
		@apply border border-neutral-200 bg-white text-neutral-900 hover:bg-neutral-100 hover:text-indigo-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-neutral-200 dark:border-neutral-600 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:hover:text-neutral-50 dark:focus:ring-neutral-700;
	}

	.buttonTertiary {
		@apply rounded-full bg-neutral-200 py-3 px-4 text-sm font-medium tracking-wide text-neutral-900 dark:bg-neutral-700 dark:text-neutral-50 lg:rounded-md;
	}

	/* .buttonSmall {
		@apply whitespace-nowrap rounded-full bg-neutral-800 px-4 py-2 text-sm font-medium text-neutral-50 hover:bg-neutral-700 dark:hover:bg-neutral-700;
	} */

	.buttonSmRounded {
		@apply buttonSm !rounded-full;
	}

	.buttonXs {
		@apply rounded-lg py-2 px-3 text-center text-xs font-medium;
	}

	.buttonSm {
		@apply rounded-lg py-2 px-3 text-center text-sm font-medium;
	}

	.buttonBase {
		@apply rounded-lg px-5 py-2.5 text-center text-sm font-medium;
	}

	.buttonLg {
		@apply rounded-lg py-3 px-5 text-center text-base font-medium;
	}

	.buttonXl {
		@apply rounded-lg px-6 py-3.5 text-center text-base font-medium;
	}

	/* * Alternate */
	.inputPrimary {
		@apply w-full rounded-md border-none bg-neutral-800 py-2.5 ring-0 focus:ring-0;
	}

	.link {
		@apply text-indigo-700;
	}

	.underlinedLink {
		@apply link underline underline-offset-2;
	}

	.checkbox {
		@apply h-4 w-4 rounded border-neutral-300 bg-neutral-100 text-indigo-600 focus:ring-2 focus:ring-indigo-500 dark:border-neutral-600 dark:bg-neutral-900 dark:ring-offset-neutral-800 dark:focus:ring-indigo-600;
	}

	.labelText {
		@apply text-sm;
	}

	.tertiary {
		@apply text-xs opacity-50;
	}

	.defaultBg {
		@apply border border-neutral-100 dark:border-neutral-800 dark:!shadow-none;
	}
}

.shadowDark {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadowDarkPlusMax {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.shadowLight {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

.noScroll::-webkit-scrollbar {
	display: none;
}

.noScroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.inputElement:-webkit-autofill,
.inputElement:-webkit-autofill:hover,
.inputElement:-webkit-autofill:focus,
.inputElement:-webkit-autofill:active {
	-webkit-text-fill-color: black !important;
	transition: background-color 5000s ease-in-out 0s;
}

.dark .dark\:inputElementDark:-webkit-autofill,
.dark .dark\:inputElementDark:-webkit-autofill:hover,
.dark .dark\:inputElementDark:-webkit-autofill:focus,
.dark .dark\:inputElementDark:-webkit-autofill:active {
	-webkit-text-fill-color: white !important;
	transition: background-color 5000s ease-in-out 0s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
