@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.inputPrimary {
		@apply w-full rounded-md border-none bg-neutral-800 py-2.5 ring-0 focus:ring-0;
	}

	.buttonPrimary {
		@apply lg:rounded-md bg-indigo-600 py-2 px-4 text-white rounded-full;
	}

	.buttonSecondary {
		@apply rounded-md bg-neutral-700 py-2 px-4 text-white;
	}

	.link {
		@apply text-indigo-500;
	}

	.underlinedLink {
		@apply link underline underline-offset-2;
	}

	.checkbox {
		@apply h-4 w-4 rounded border-neutral-300 bg-neutral-100 text-indigo-600 focus:ring-2 focus:ring-indigo-500 dark:border-neutral-600 dark:bg-neutral-900 dark:ring-offset-neutral-800 dark:focus:ring-indigo-600;
	}

	.labelText {
		@apply text-sm;
	}

	.tertiary {
		@apply text-xs opacity-50;
	}
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

.noScroll::-webkit-scrollbar {
	display: none;
}

.noScroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: white !important;

	transition: background-color 5000s ease-in-out 0s;
}
