@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.inputPrimary {
		@apply w-full rounded-md border-none bg-neutral-800 py-2.5 ring-0 focus:ring-0;
	}

	.buttonPrimary {
		@apply rounded-md bg-indigo-700 py-2 px-4;
	}

	.buttonSecondary {
		@apply rounded-md bg-neutral-700 py-2 px-4;
	}
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
		url('/fonts/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
		url('/fonts/Aeonik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik';
	src: url('/fonts/Aeonik-Light.woff2') format('woff2'),
		url('/fonts/Aeonik-Light.woff') format('woff');
	font-weight: 300;
	font-style: light;
	font-display: swap;
}

.noScroll::-webkit-scrollbar {
	display: none;
}

.noScroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

* {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
